body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../src/img/imgtodolist.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes lights {
    0% {
        color: rgb(199, 89, 144);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    30% { 
        color: rgb(199, 89, 144);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    40% { 
        color: rgb(199, 89, 144);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    70% {
        color: rgb(199, 89, 144);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    100% {
        color: rgb(199, 89, 144);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}

h1 {
    text-align: center;
    animation: lights 5s 750ms linear infinite;
    font-size: 50px;
} 

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sortTask {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sortBtn {
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgb(134, 109, 192);
}

.sortBtn:hover {
    background-color: rgb(134, 109, 192);
    border: none;
    color: white;
}


